nav(aria-label ="Main-Navigation")
    ul
        li 
            a(href="/") Home
        li 
            a(href="/about") About  
        li 
            a(href="/articles") Articles Admin
        li 
            a(href="/categories") Categories Admin