extends common/layout 
//- The above line will look fot layout.pug file
block layout-content
    h1 Welcome to FASTOADMIN!
    h2 This portal is to manage the content of fastodigama.com! 
    h3 make sure to create wonderful things!!
    h4 REMEMBER, Integrity is KING!
    