doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title #{title} | FASTODIGAMA
    body
        header#header 
            h2.site-name
                //-Home path
                a(href="/") FASTODIGAMA ADMIN
                //-include NAV bar into layout
                include includes/nav.pug
        main#main 
            //- Dynamic main content here
            block layout-content
        footer#footer
            p &copy; Copyright FASTODIGAMA ADMIN