extends common/layout 


block layout-content 
    h1 add menu link
    form(action="/admin/menu/add/submit", method = "post")
        div 
            //-weight field 
            label(for="wgt") Weight: 
            input(type="number" ,name="weight", placeholder="0")
     
        //-name field 
        div 
            label(for="link-text") Link text: 
            input(type="text",id="link-text",name="name", placeholder="Home" ) 
        //-path field 
        div 
            label(for="href") Link text: 
            input(type="text",id="href",name="path", placeholder="/" ) 
            button(type="submit") Add link