extends common/layout 
block layout-content 
    h1 Administer Menu Links 
    a(href="/admin/menu/add") + Add Menu Link
    table 
        thead 
            tr 
                th Link 
                th Actions 
        tbody 
            each link in links 
                tr 
                    td #{link.name} (#{link.path})
                    td 
                        form(action="/admin/menu/delete", method="get")
                            input(type="hidden", name="linkId", value=link._id)
                            button(type="submit") Delete
                    td 
                        form(action="/admin/menu/edit", method="get")
                            input(type="hidden", name="linkId", value=link._id)
                            button(type="submit") Edit
                               