extends ../common/layout

block layout-content
    //- Add new menu link form
    .row.justify-content-center
        .col-md-8.col-lg-6
            h1.mb-4 Add Menu Link
            //- Form sends data to /admin/menu/add/submit
            form(action="/admin/menu/add/submit", method="post")
                //- Weight: order of link in menu (lower numbers appear first)
                .mb-3
                    label.form-label(for="wgt") Weight
                    input.form-control(type="number", id="wgt", name="weight", placeholder="0", required)
                //- Link text: what users see in the menu
                .mb-3
                    label.form-label(for="link-text") Link Text
                    input.form-control(type="text", id="link-text", name="name", placeholder="Home", required)
                //- Link path: URL the link points to
                .mb-3
                    label.form-label(for="href") Link Path
                    input.form-control(type="text", id="href", name="path", placeholder="/", required)
                //- Submit and cancel buttons
                .d-flex.gap-2
                    button.btn.btn-primary(type="submit") Add Link
                    a.btn.btn-secondary(href="/admin/menu") Cancel